<!doctype html>
<html>
<head>
    <title>Blogger</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; word-wrap:break-word; }
    </style>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.btn.delete').on('click', function(e) {
                var postId = $(e.target).data('id')
                $.ajax({
                  url: `/post/${postId}`,
                  method: 'DELETE'
              }).done(function() {
                  window.location.reload()
              });
          });
        });
    </script>
</head>
<body>
    <div class="container">

        <div class="page-header text-center">
            <h1>Profile Page</h1>
            <a href="/logout" class="btn btn-default btn-sm">Logout</a>
            <a href="/posts" class="btn btn-default btn-sm">View All Posts</a>
        </div>

        <% if (typeof message !== 'undefined' && message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <div class="row">
            <div class="well">
                <h3><span class="fa fa-laptop"></span> Local</h3>
                <p>
                    <strong>id</strong>:<%= user.id %><br>
                    <strong>username</strong>: <%= user.username %><br>
                    <strong>email</strong>: <%= user.email %><br>
                    <strong>blog title</strong>: <%= user.blogTitle %><br>
                    <strong>blog Description</strong>: <%= user.blogDescription %><br>
                    <strong>password</strong>:  <%= user.password %>
                </p>
            </div>
        </div>

        <div class="row"> <strong>My Posts</strong></div>
        <a href="/post" class="btn btn-default btn-sm">Create New Post</a>
        <table class="table">
            <thead>
              <tr>
                <th>Title</th>
                <th>Create Date</th>
                <th>Update Date</th>
                <th>Update</th>
                <th>Delete</th>
                <th>Total Comments</th>
            </tr>
        </thead>
        <tbody>
            <% for (var i=0; i<posts.length; i++) { %>
            <tr>
                <td><%= posts[i].title %></td>
                <td><%= posts[i].created.toLocaleDateString() %></td>
                <td> <%= posts[i].updated.toLocaleDateString() %></td>
                <td> <a type="button" class="btn btn-default btn-sm delete" href="/post/<%= posts[i].id%>">View</a></td>
                <td> <a type="button" class="btn btn-default btn-sm delete" href="/post/edit/<%= posts[i].id%>">Edit</a></td>
                <td><a type="button" data-id="<%= posts[i]._id %>" class="btn btn-default btn-sm delete">Delete</a></td>
            </tr>

            <% } %>
        </tbody>
    </table>

    <div class="row"> <strong>Latest Comments</strong></div>
    <table class="table">
        <thead>
          <tr>
            <th>User</th>
            <th>Content</th>
            <th>Comment Date</th>
            <th>Link to Post</th>
        </tr>
    </thead>
    <tbody>
        <% comments.forEach(function(comment) { %>
        <tr>
            <td><%= comment.username %></span></td>
            <td><%= comment.content %></td>
            <td><%= comment.created.toLocaleDateString() %></td>
            <td><a href="<%= comment.postLink %>">Post Detail</a> </td>
        </tr>
        <% }); %>

    </tbody></table>

</div>
</body>
</html>
